{
    "lt_perf_test": {
        "AWS_PROFILE": "PCMPowerUser@510779331227",
        "AWS_REGION": "us-east-1",
        "Cost_Centre": "10.695.74172.79943.0000.33",
        "AppID": "SVC02157",
        "Environment": "TST",
        "Key_PairName": "AdamPEKey",
        "ec2_settings": {
            "instance_type": "t2.micro",
            "ami_id": "ami-06f6e7c1e05d8a503",
            "ebs_settings": {
                "volume_size": 30,
                "volume_type": "gp2",
                "iops": 100,
                "device": "/dev/sda1"
            },
            "security_settings": {
                "subnet_id": "subnet-56f9a27b",
                "vpc_id": "vpc-2f432b49",
                "security_group_id": "sg-0752469d85a69704b",
                "iam_instance_profile_arn": "arn:aws:iam::510779331227:instance-profile/MySessionManagerInstanceProfile"
            }
        }
    }
}
